resources:
- namespace.yaml
- serviceaccount.yaml
- deployment.yaml
- service.yaml
- ingress.yaml

# Generate ConfigMap with hash suffix - changes trigger pod restart
# Remove configmap.yaml from resources and generate it instead
configMapGenerator:
- name: homepage-config
  files:
  - config/services.yaml
  - config/settings.yaml
  - config/kubernetes.yaml
  - config/docker.yaml
  - config/widgets.yaml
  - config/bookmarks.yaml
  - config/proxmox.yaml
  - config/custom.css
  - config/custom.js

# Add ConfigMap name (with hash) to pod template annotation to trigger restart on changes
# When ConfigMap content changes, hash changes, annotation changes, pod restarts
patches:
- patch: |-
    - op: replace
      path: /spec/template/metadata/annotations/config~1checksum
      value: homepage-config
  target:
    kind: Deployment
    name: homepage
