# Default TLS store for Traefik
# This sets the default certificate for all HTTPS traffic
# The certificate is created by cert-manager in kube-system namespace
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
  namespace: kube-system
spec:
  defaultCertificate:
    secretName: home-brettswift-com-tls
