apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: infrastructure
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      containers:
        - name: traefik
          image: traefik:v3.1
          args:
            - --log.level=DEBUG
            - --ping=true
            - --providers.kubernetesingress=true
            - --entrypoints.web.address=:80
            - --entrypoints.web-secure.address=:443
            - --entrypoints.web.http.redirections.entryPoint.to=web-secure
            - --entrypoints.web.http.redirections.entryPoint.scheme=https
            - --entrypoints.web.http.redirections.entrypoint.permanent=true
            - --certificatesresolvers.myresolver.acme.dnschallenge=true
            - --certificatesresolvers.myresolver.acme.dnschallenge.provider=route53
            - --certificatesresolvers.myresolver.acme.email=${LETS_ENCRYPT_EMAIL}
            - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: access-key-id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: secret-access-key
            - name: AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: region
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
          volumeMounts:
            - name: letsencrypt
              mountPath: /letsencrypt
      volumes:
        - name: letsencrypt
          persistentVolumeClaim:
            claimName: traefik-data 