apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: qbittorrent
  namespace: downloads
spec:
  rules:
    - host: ${INGRESS_HOSTNAME}
      http:
        paths:
          - path: /qbittorrent
            pathType: Prefix
            backend:
              service:
                name: qbittorrent
                port:
                  number: 8080 