apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress
  namespace: argocd
spec:
  project: nas
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.7.1
    helm:
      values: |
        controller:
          service:
            type: LoadBalancer
          config:
            use-forwarded-headers: "true"
          metrics:
            enabled: true
          extraArgs:
            enable-ssl-passthrough: ""
  destination:
    server: https://kubernetes.default.svc
    namespace: infrastructure
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 