apiVersion: apps/v1
kind: Deployment
metadata:
  name: gluetun
  namespace: downloads
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gluetun
  template:
    metadata:
      labels:
        app: gluetun
    spec:
      containers:
        - name: gluetun
          image: qmcgaw/gluetun:latest
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          env:
            - name: VPN_SERVICE_PROVIDER
              value: "ipvanish"
            - name: SERVER_COUNTRIES
              value: "Canada,United States"
            - name: OPENVPN_USER
              valueFrom:
                secretKeyRef:
                  name: vpn-credentials
                  key: username
            - name: OPENVPN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vpn-credentials
                  key: password
          ports:
            - containerPort: 8888  # HTTP proxy
            - containerPort: 8388  # Shadowsocks
            - containerPort: 8080  # qBittorrent web
            - containerPort: 6881  # qBittorrent
          volumeMounts:
            - name: gluetun-config
              mountPath: /gluetun
      volumes:
        - name: gluetun-config
          persistentVolumeClaim:
            claimName: gluetun-config 