apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - clusterissuer.yaml
  - certificate.yaml
  # Note: route53-secret.yaml should be created manually or via external-secrets operator
  # It's included here for reference but contains sensitive data
  # - route53-secret.yaml

