apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: jellyfin
  namespace: media
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`home.brettswift.com`) && PathPrefix(`/jellyfin`)
      kind: Rule
      services:
        - name: jellyfin
          port: 80
      middlewares:
        - name: jellyfin-stripprefix
