apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: traefik-infrastructure
  namespace: argocd
spec:
  generators:
  - clusters:
      selector:
        matchLabels:
          environment: production
  template:
    metadata:
      name: '{{.name}}-traefik-infrastructure'
      namespace: argocd
    spec:
      project: infrastructure
      source:
        repoURL: git@github.com:brettswift/k8s_nas.git
        targetRevision: feat/first_deploy_to_server
        path: apps/infrastructure/traefik
      destination:
        server: '{{.server}}'
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
